body {
    background-image: url("../wnCoprl-movie-backgrounds.jpg");
    background-size: cover;
    opacity: .9;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 5vw;
    color: white;
}

label {
    color: white
}

section {
    font-family: 'Roboto', sans-serif;
}

.indent{
    text-indent: 30px;
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  .animate__animated.animate__pulse {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

